/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  z-index: 10;
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.auth-buttons a {
    font-weight: 600;
    color:rgb(26, 27, 28);
}

.btn {
  text-decoration: none;
  color: black;
  background-color: rgb(228, 230, 237);
  padding: 8px 16px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  font-size: 14px;
}

.btn:hover {
  background-color: black;
  color: white;
}

/* Hero section */
.text {
  width: 100%;
  height: 100vh;
  background-image: url("../img/school.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Lớp phủ để chữ dễ đọc */
.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}


.overlay h1 {
  font-size: 32px;
  font-weight: normal;
}

.overlay h2 {
  font-size: 48px;
  margin: 10px 0 20px;
}

.overlay p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 600px;
}
