/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== GLOBAL ===== */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* cho layout quản lý scroll */
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* để sidebar + content scroll riêng */
}

body {
  font-family: 'Inter', sans-serif;
  background: #F6F8FC;
  color: #1F2937;
}

/* Typography */
h1,
h2,
h3 {
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  color: #1F2937;
}